<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>lookup信息列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/config/layui/css/layui.css" media="all">
</head>
<body>

<fieldset class="layui-elem-field layui-field-title"
          style="margin-top: 20px;">
    <legend>lookupItem信息列表</legend>
</fieldset>
<div style="margin:5px">
    <p style="padding-left: 3px;">
        <button class="layui-btn" id="addLookupItem">
            <i class="layui-icon">&#xe608;</i> 新增
        </button>

        <button style="float:right" class="layui-btn" id="addLookupItem">
            <i class="layui-icon"></i>
            <a href="javascript:history.go(-1)">返回</a>
        </button>
    </p>
    <table id="lookupItem" lay-filter="lookupitemFilter"></table>
    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
    </script>
    <script type="text/html" id="switchState">
        <input type="checkbox" name="state" value="{{ d.state }}" disabled="disabled" lay-skin="switch"
               lay-text="ON|OFF"  {{ d.state == 1? 'checked' : '' }}>
    </script>

</div>
<script type="text/html" id="indexTpl">
    {{ d.LAY_TABLE_INDEX+1}}
</script>
<script src="/config/layui/layui.js" charset="utf-8"></script>
<script src="/config/js/lookup/insideLookupItem.js"></script>
<script src="/config/js/common/common.js"></script>
</body>
</html>